@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0);
  }

  20%, 60% {
    transform: rotate(-35deg);
  }

  40%, 80% {
    transform: rotate(20deg);
  }
}

.github-corner {
  $scheme = hexo-config('scheme');
  $bg-color = unquote(hexo-config('android_chrome_color'));
  $mobile-layout-economy = hexo-config('mobile_layout_economy');

  :hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }

  svg {
    border: 0;
    fill: white;
    color: $body-bg-color;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    background: $body-bg-color;
    box-shadow: 5px 5px 10px #202020, -5px -5px 10px #464646;
    &:hover {
    box-shadow: inset 5px 5px 10px #202020, inset -5px -5px 10px #464646;
    }
  }

  +tablet-mobile() {
    svg {
      if ($scheme == 'Gemini') {
        color: $bg-color;
        fill: white;
      }
    }

    .github-corner:hover .octo-arm {
      animation: none;
    }

    .github-corner .octo-arm {
      animation: octocat-wave 560ms ease-in-out;
    }
  }

  +mobile() {
    svg {
      if ($scheme == 'Mist') {
        top: inherit;

        if ($mobile-layout-economy) {
          +mobile-small() {
            margin-top: initial;
          }
        }
      }
      top: 5px;
      right: 5px;
      width: 50px;
      height: 50px;
    }
  }
}
