//------------------------------------------------------------------------------
// colorful icons
//------------------------------------------------------------------------------
svg.icon {
    width: 1.5em !important;
    height: 1.5em !important;
    vertical-align: -0.4em;
    fill: currentColor;
    overflow: hidden
}
//------------------------------------------------------------------------------
// friendlink card
//------------------------------------------------------------------------------
.container {
  width: 100%;
}
.links {
  list-style: none;
}
.link {
  margin: 10px;
  display: inline-block;
}
.card {
  height: 72px;
  width: 300px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  transition: box-shadow .25s cubic-bezier(.4,0,.2,1);
}
.card:hover {
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
}
.avatar {
  float: left;
  height: 72px;
  width: 72px;
}
img {
  height: 100%;
  width: 100%;
}
.titles {
  overflow: hidden;
  height: 72px;
  width: 227px;
  margin-left: 72px;
}
.title{
  text-align: center;
  height: 20px;
  width: 100%;
  margin: 0;
  line-height: 20px;
  margin-top: 14px;
}
.subtitle {
  text-align: center;
  height: 20px;
  width: 100%;
  margin: 0;
  line-height: 20px;
}
small {
  width: 100%;
}
//------------------------------------------------------------------------------
// shadow
//------------------------------------------------------------------------------
$shadow = 5px 5px 10px #242424, -5px -5px 10px #424242;
.header-inner {
  border-radius: 5px;
  box-shadow: $shadow;
  +tablet-mobile() {
    margin: 5px 5px 0;
    border-radius: 20px;
  }
}
.site-nav-toggle {
  left: 15px;
  border-radius: 5px;
  box-shadow: $shadow;
}
.sidebar-inner {
  border-radius: 5px;
  box-shadow: $shadow;
}
.site-meta {
  +tablet-mobile() {
    box-shadow: none;
  }
}
.post-block {
  margin-top: 0px;
  margin-bottom: 60px;
  padding: 0px;
  border-radius: 10px;
  box-shadow: $shadow;
}
.post-button .btn {
  border-radius: 15px;
  border: none;
  background: linear-gradient(145deg, #373737, #2e2e2e);
  box-shadow: 5px 5px 7px #2a2a2a, -5px -5px 7px #3c3c3c;
  &:hover {
    border: none;
    background: $body-bg-color;
    box-shadow: inset 5px 5px 7px #2a2a2a, inset -5px -5px 7px #3c3c3c;
  }
}
blockquote {
  background: #333343;
  border-radius: 5px;
  box-shadow: inset 2px 2px 4px #262632, inset -2px -2px 4px #404054;
}
//------------------------------------------------------------------------------
//better organized sidebar and post-block
//------------------------------------------------------------------------------
.menu {
  margin: 0;
}
.post-block.home {
  margin: 0 0 30px;
  padding: 15px;
}
.post-block.post {
  padding: 10px;
}
.post-block.page {
  padding: 15px;
}
.post-meta {
  margin: 3px 0 30px 0 !important;
}
.post-button {
  margin-top: 15px;
}
.post-button .btn {
  padding: 5px 20px;
}
.post-eof {
  display: none;
}
//------------------------------------------------------------------------------
//disable image border
//------------------------------------------------------------------------------
img {
    border: none !important;
}
//------------------------------------------------------------------------------
//better response for mobile devices
//------------------------------------------------------------------------------
@media (max-width: 425px) {
    .site-title {
        font-size: 6vw;
    }
    .content-wrap {
        padding: 10px !important;
    }
}
@media (max-width: 767px) {
    .posts-expand {
        margin: 0 0px;
    }
}
.MJXc-display {
  overflow-x: auto;
  overflow-y: hidden;
}
.MJXc-display::-webkit-scrollbar {
  width: 20px;
  background: transparent;
}
.MJXc-display::-webkit-scrollbar-track {
  background: transparent;
}
.MJXc-display::-webkit-scrollbar-thumb {
  background: #aaaaaa4f;
  background-clip: content-box;
  border: 6px solid transparent;
  border-radius: 20px;
}
.MJXc-display::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa;
  background-clip: content-box;
  border: 6px solid transparent;
  border-radius: 20px;
}
//------------------------------------------------------------------------------
// heads style improve
//------------------------------------------------------------------------------
.post-body {
  h2 {
    border-bottom: 3px solid #949a76;
  }
  h3 {
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, white, #ffffff00) 1;
  }
  h4 {
    text-align: center;
    text-decoration: underline solid yellow 3px;
  }
  h5 {
    text-align: center;
    text-decoration: underline;
    font-weight: lighter;
  }
}
//------------------------------------------------------------------------------
//custom color theme
//------------------------------------------------------------------------------
body {
  color: white;
}
.site-meta {
  background: $body-bg-color;
}
.site-author-name {
  color: white;
}
.site-state-item-count {
  color: lightgray;
}
.links-of-author-item a {
  color: lightgray;
}
.header-inner {
  background: $body-bg-color;
  &:hover {
    background: $body-bg-color;
  }
}
.menu .menu-item a {
  margin: 5px 12px;
  border: none;
  color: lightgray;
  font-weight: bold
  background: $body-bg-color;
}
.menu-item-active a, .menu .menu-item a:hover {
  background: $body-bg-color;
  border-radius: 3px;
  box-shadow: inset 5px 5px 5px #2c2c2c, inset -5px -5px 5px #3a3a3a;
}
.menu .menu-item .badge {
  background: $body-bg-color;
  filter: brightness(130%);
}
.sidebar-inner {
  background: $body-bg-color;
}
.content-wrap {
  background: $body-bg-color;
}
.post-block {
  background: $body-bg-color;
}
kbd {
  background: black;
}
table > tbody > tr:nth-of-type(odd) {
  background: #333;
  color: white;
}
table > tbody > tr:nth-of-type(even) {
  background: #777;
  color: white;
}
td:hover {
  font-weight: bold;
}
a {
  color: #0593d3;
  border-bottom: none;
  border-bottom: 1px solid #0593d3;
  &:hover {
    color: #fc6423;
    border-bottom: none;
    border-bottom: 1px solid #fc6423;
  }
}
b, strong {
  color: #faaaaa;
}
em {
  border-bottom: 1px dashed white;
  filter: brightness(0.8);
}
code {
  color: #a88443;
  background: $body-bg-color;
  border: 0.5px solid gray;
}
blockquote {
  color: #9e9890;
}
.posts-expand .post-title-link {
    color: #cccccc;
    &:hover {
      color: white;
    }
    &::before {
      background-color: white;
    }
}