// Custom styles.

//------------------------------------------------------------------------------
//better response for mobile devices
//------------------------------------------------------------------------------
@media (max-width: 425px){
    .site-title {
        font-size: 6vw;
    }
    .content-wrap {
        padding: 10px !important;
    }
}
@media (max-width: 767px){
    .posts-expand {
        margin: 0 0px;
    }
}
//------------------------------------------------------------------------------
//custom colors
//more colors here: http://nipponcolors.com/
//------------------------------------------------------------------------------
$site-title-background          = #828282
$site-background                = #828282
$post-background                = #828282
$font-color                     = #eee
$font-color-title               = #FFFFFB
$font-color-descript            = #ddd
$font-color-link                = #ccc
$font-color-menu                = #bbc
$font-color-hover               = #fc6423

//backgrounds color
$body-bg-color                  = $site-background
$brand-bg                       = $site-title-background
.content-wrap {
    background: $site-background;
}
.post-block{
    background: $post-background;
}
.sidebar-inner, .header-inner, .sidebar {
    background: rgba(255, 255, 255, 0); //opacity = 0
}
//fonts color
$text-color                     = $font-color
$site-author-name-color         = $font-color
$sidebar-nav-color              = $font-color-descript
$site-state-item-name-color     = $font-color-descript
$link-color                     = $font-color
$link-hover-color               = $font-color-link
$link-decoration-hover-color    = $font-color-hover
$toc-link-color                 = $font-color
$toc-link-hover-color           = $font-color-link
$toc-link-hover-border-color    = $font-color-hover
$site-subtitle-color            = $font-color-descript
$site-description-color         = $font-color-descript

.menu-item a {
    color: $font-color-menu;
}
.links-of-author-item a {
    color: $font-color;
}
a.post-title-link, .post-title {
    color: $font-color-title !important;
}
span.site-state-item-count{
    color: $font-color-title;
}
.site-state-item {
    &:hover {
        span.site-state-item-count {
            color: #ffd239;
        }
    }
}
blockquote {
    color: #abd !important;
}

// shadow for post blocks
.post {
    margin-top: 0px;
    margin-bottom: 60px;
    padding: 0px;
    -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
    -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}
//------------------------------------------------------------------------------
//colorful icons
//------------------------------------------------------------------------------
.icon {
    width: 1.5em !important;
    height: 1.5em !important;
    vertical-align: -0.4em;
    fill: currentColor;
    overflow: hidden;
}
//------------------------------------------------------------------------------
//better organized post-block
//------------------------------------------------------------------------------
.post-block{
    padding: 15px;
}
.post-eof{
    display: none;
}
//------------------------------------------------------------------------------
//disable image border
//------------------------------------------------------------------------------
img {
    border: none !important;
}
